matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
pandas @ file:///C:/ci/pandas_1635506685681/work
scikit-image==0.18.3
scikit-learn==1.0.2
scikit-learn-intelex==2021.20210714.120553
statsmodels==0.12.2
virtualenv==20.15.1
voila==0.3.5
widgetsnbextension @ file:///C:/ci/widgetsnbextension_1607531582688/work
yfinance==0.1.67
